@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    background: linear-gradient(90deg, #131313, #000000 );
    font-family: 'Montserrat';
    background-image: url(../images/imgs-projetos/background-image.jpg);
    background-repeat: none;
    background-size: cover;
    
}



a {
    text-decoration: none;
    color: none;
    border: none;
    outline: none;
}


section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex {
    justify-content: space-between;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    gap: 15px;
    flex-wrap: wrap;
}

.img-port:hover {
    background-position: 100% 100%;
}

.title-project{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    gap: 15px;
   
    
}

.overlay {
  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #cf1767;
}


@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        display:grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
        
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
        font-family: 'Montserrat' sans-serif;
    }


    /* PORTFÓLIO */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
    section.portfolio .flex {
       gap: 60px;
    }

    
h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #cf1767;
}
}

@media screen and (max-width: 700px){
    .flex{
        display: grid;
        grid-template-columns: 1fr;
    }
}